{% extends 'default_theme/base/__base.html' %}

 {% block Style_sheets %}
 {% endblock Style_sheets %}
 
 
 {% load widget_tweaks %}
  {% load render_table from django_tables2 %}
 
  {% block Content_Area %}
  
  {% if messages %}				
   						{% for message in messages %}
   						{% if message.tags %}  
						<div class="alert alert-success">
  							<strong>Success!</strong>{{ message }}
  							
  							<button class="toast-close-button" role="button"> x </button>
						</div>
						
						{% endif %}
   						{% endfor %}
						{% endif %}  
  
  

  <div class="row">
      <div class="col-md-12">
                     <div class="panel panel-success">
                        <div class="panel-heading">
                         {{ Listtitle }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                               {% render_table table %}	
                            </div>
                        </div>
                    </div>
                </div>
 
 
 
 
 </div>
  {% endblock Content_Area %}
  
  
  
   {% block Java_Scripts %}
   
   
     {% endblock %}
 
 