{% extends 'default_theme/base/__base.html' %}
{% load staticfiles %}
{% block Style_sheets %}
    
	{% endblock Style_sheets %}
	  {% load render_table from django_tables2 %}
	 {% load django_tables2 crispy_forms_tags %}
	
 {% block Content_Area %}
 
 <div class="row">
 <div class="alert alert-success" style="display:none;" id="success-msg">
  							<strong>Block student successfully. </strong>
						</div>
<div class="alert alert-success" style="display:none;" id="unblocksuccess-msg">
  							<strong>UnBlock student successfully. </strong>
						</div>
   <div class="panel-group accordion" id="accordion1">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <a id="accordion-search" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" aria-expanded="false">
                                                         <i class="fa fa-search font-dark"></i>
                                            			 <span class="caption-subject font-dark bold uppercase">Advanced Search</span>
                                            			 <span style="float:right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                        </a>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div id="collapse_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        {% crispy filter.form filter.form.helper %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

 
    <div class="row">
                <div class="col-md-8">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           {{ Title }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                              {% render_table table %}	
                            
                                
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
 			 <div class="col-md-4">
 			 <div id="append_list"></div>
 			 </div>
 
 
 
 </div>
 
            
  {% endblock Content_Area %}
    
    
    
     {% block Java_Scripts %}
  <script>

	
	$('body').on('click', '#reset-search', function () {
		
		window.location = "{% url Reset_url %}";
		console.log('Inner')
		
	})	
	$(document).ready(function(){
		
		
		 fetchdata()
		 function fetchdata(){
			 
			 var urldetails = 'http://3.18.113.243:8004/managementapi/staffreadstatus/';
			 $.ajax({
					
				 
				  url: urldetails,
				  csrfmiddlewaretoken: "{{ csrf_token }}",
				  headers: {
				      'Accept': 'application/json',
				     'Content-Type': 'application/json'
				     },
				 
				   dataType: 'json',
				   success: function(content){
				          var obj = JSON.stringify(content);
					      var json_obj = JSON.parse(obj);
				          console.log(json_obj)
				       		 $('#append_list').empty()
				          $.each(json_obj, function(id,assign_group_pk,assign_student,assign_student_status,read_status,student_name,groupname){
					        	
				        	 $('#id-'+this.id+'-assign_comments').show();
					         $('#id-'+this.id+'-assign_request').hide();	
					         
					         $('#append_list').append('<div class="alert alert-info alert-dismissable" id="id-'+this.id+'-readstatusshow">'+this.student_name+' accepeted your request '+this.groupname+'<a href="#" class="alert-link updatereadstatus" id="id-'+this.id+'-update_readstatus"> Click to Comments</a>.</div>');
					       
					         
					         
					    });
				          
				          
				        },
				   error: function(XMLHttpRequest, textStatus, errorThrown) {
				            alert("some error " +"1"+ String(errorThrown)+"2" + String(textStatus) +"3"+ String(XMLHttpRequest.responseText));
				            }
					
			});
			 
			 
		} 
		 setInterval(fetchdata,5000);
		
		 
		 $('body').on('click', '.block_btn', function(event) {
				
				event.preventDefault();
				var assign_id=$(this).attr('id');
				var fields = assign_id.split(/-/);
				var row_no = fields[1];
				
				var urldetails = 'http://3.18.113.243:8004/managementapi/studentblockapi/'+row_no+'/';
				
				var values  =	{ 	
									
									"assign_student_status": 2
				          			
				       			}
				console.log(values);
				
				
				$.ajax({
					
					  type: "PUT",
					  url: urldetails,
					  csrfmiddlewaretoken: "{{ csrf_token }}",
					  data: JSON.stringify(values),
					  headers: {
					      'Accept': 'application/json',
					     'Content-Type': 'application/json'
					     },
					   dataType: 'json',
					   success: function(){
					          //alert("Saved! It worked.");
					          $('#success-msg').show();
					         $('#group_update').hide();
					         window.location='/stafflanding/';
					        },
					   error: function(XMLHttpRequest, textStatus, errorThrown) {
					            alert("some error " +"1"+ String(errorThrown)+"2" + String(textStatus) +"3"+ String(XMLHttpRequest.responseText));
					            }
						
				});

			});
			 
			 
		
		 
		 $('body').on('click', '.unblock_btn', function(event) {
				
			 event.preventDefault();
			  var assign_id=$(this).attr('id');
			  var fields = assign_id.split(/-/);
			  var row_no = fields[1];
			
			var urldetails = 'http://3.18.113.243:8004/managementapi/studentblockapi/'+row_no+'/';
			
			var values  =	{ 	
								
								"assign_student_status": 1
			          			
			       			}
			console.log(values);
			
			
			
			$.ajax({
				
				  type: "PUT",
				  url: urldetails,
				  csrfmiddlewaretoken: "{{ csrf_token }}",
				  data: JSON.stringify(values),
				  headers: {
				      'Accept': 'application/json',
				     'Content-Type': 'application/json'
				     },
				   dataType: 'json',
				   success: function(){
				          //alert("Saved! It worked.");
				          $('#unblocksuccess-msg').show();
				         $('#group_update').hide();
				         window.location ='/staffcomments/'+row_no+'/';
				          
				        },
				   error: function(XMLHttpRequest, textStatus, errorThrown) {
				            alert("some error " +"1"+ String(errorThrown)+"2" + String(textStatus) +"3"+ String(XMLHttpRequest.responseText));
				            }
					
			});

		}); 
		 
		 
		 
		 
		 $('body').on('click', '.updatereadstatus', function(event) {
				
			 event.preventDefault();
			  var assign_id=$(this).attr('id');
			  var fields = assign_id.split(/-/);
			  var row_no = fields[1];
			
			var urldetails = 'http://3.18.113.243:8004/managementapi/readstatusupdateapi/'+row_no+'/';
			
			var values  =	{ 	
								
								"read_status": 1
			          			
			       			}
			console.log(values);
			
			
			
			$.ajax({
				
				  type: "PUT",
				  url: urldetails,
				  csrfmiddlewaretoken: "{{ csrf_token }}",
				  data: JSON.stringify(values),
				  headers: {
				      'Accept': 'application/json',
				     'Content-Type': 'application/json'
				     },
				   dataType: 'json',
				   success: function(){
					   $('#id-'+this.id+'-readstatusshow').empty();
					   window.location ='/staffcomments/'+row_no+'/';
				        },
				   error: function(XMLHttpRequest, textStatus, errorThrown) {
				            alert("some error " +"1"+ String(errorThrown)+"2" + String(textStatus) +"3"+ String(XMLHttpRequest.responseText));
				            }
					
			});

		});
		  
		 
		 
		 
	});
	
	
	
</script>	

  
  {% endblock %}
    
    