<section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/login" class="menu-top-active">Staff Login</a></li>
                             <li><a href="/studentlogin">Student Login</a></li>
                             <li><a href="/register">Student Register</a></li>
                           

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>